<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      android:versionCode="79" 
      android:versionName="3.1.5" 
      android:installLocation="auto" 
      package="com.glm.trainer">
      
      <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="8"/>
      <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
      <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
      <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="android.permission.READ_PHONE_STATE"/>     
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
      <uses-permission android:name="com.android.vending.BILLING" />
      <uses-permission android:name="android.permission.BLUETOOTH" />
      <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
      <uses-permission android:name="com.android.vending.CHECK_LICENSE" />
     
      <!-- GCM  -->   
      <permission android:name="com.glm.trainer.permission.C2D_MESSAGE" 
          android:protectionLevel="signature" />
	  <uses-permission android:name="com.glm.trainer.permission.C2D_MESSAGE" /> 
      <!-- App receives GCM messages. -->
	  <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
	  <!-- GCM requires a Google account. -->
	  <uses-permission android:name="android.permission.GET_ACCOUNTS" />
	  <!-- Keeps the processor from sleeping when a message is received. -->
	  <uses-permission android:name="android.permission.WAKE_LOCK" />
      <!-- GCM  --> 
      <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"       
        android:anyDensity="true" />
      
     
	
    <application android:icon="@drawable/icon_buy" android:label="@string/app_name_buy" >
    
        <!-- 
        <application android:icon="@drawable/icon_pro" android:label="@string/app_name_pro" android:backupAgent="TrainerBackupAgent">
    
        <meta-data android:name="com.google.android.backup.api_key" android:value="AEdPqrEAAAAILlRHNIHiLER4KgPCmCsHFSyjLFicgQcCirMrig" /> -->
        
        <uses-library android:name="com.google.android.maps" />
        
    
    <service android:name="com.glm.services.ExerciseService" android:process=":com.glm.services" android:enabled="true"/>
    
    <service android:name="com.glm.utils.vending.BillingService" />

    <!-- GCM  -->
    <service android:name=".GCMIntentService" />
    <!-- GCM  -->
    
    <receiver android:name="com.glm.utils.vending.BillingReceiver">
      <intent-filter>
        <action android:name="com.android.vending.billing.IN_APP_NOTIFY" />
        <action android:name="com.android.vending.billing.RESPONSE_CODE" />
        <action android:name="com.android.vending.billing.PURCHASE_STATE_CHANGED" />
      </intent-filter>
    </receiver>
    
    <receiver android:name="com.glm.app.widget.AndroidTrainerWidget" >
	    <intent-filter>
	        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
	    </intent-filter>
	    <meta-data android:name="android.appwidget.provider"
	               android:resource="@xml/trainer_widget_info" />
	</receiver>
	<receiver android:name="com.glm.utils.BatteryMonitor">
	<intent-filter>
	  <action android:name="android.intent.action.ACTION_BATTERY_LOW"/>	  
	  </intent-filter>
	</receiver>
	
    <!-- GCM  -->       
    <receiver android:name="com.google.android.gcm.GCMBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND" >
	  <intent-filter>
	    <action android:name="com.google.android.c2dm.intent.RECEIVE" />
	    <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
	    <category android:name="com.glm.trainer" />
	  </intent-filter>
	</receiver>
    <!-- GCM  -->      
    
    <activity android:name="MainActivity" android:label="@string/app_name_buy"
			android:screenOrientation="sensor" android:configChanges="orientation|keyboardHidden"
			android:clearTaskOnLaunch="true"
			android:launchMode="standard"
			android:theme="@android:style/Theme.Translucent.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />				
			</intent-filter>						
		</activity>
    
            
		<activity android:name="com.glm.app.MainTrainerActivity" android:label="@string/app_name_buy"
			android:screenOrientation="sensor" android:configChanges="orientation|keyboardHidden"
			android:clearTaskOnLaunch="true"
			android:launchMode="standard"
			android:theme="@android:style/Theme.NoTitleBar">							
		</activity>
			
		<activity android:name="com.facebook.LoginActivity"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"
                  android:label="@string/app_name" />
		
		<activity android:name="com.glm.app.PrefActivity" android:screenOrientation="sensor" android:clearTaskOnLaunch="true" android:theme="@android:style/Theme.NoTitleBar"> </activity>
		<activity android:name="com.glm.app.UserDetailsActivity" android:configChanges="orientation|keyboardHidden" android:launchMode="singleTop" android:screenOrientation="portrait" android:clearTaskOnLaunch="true" android:theme="@android:style/Theme.NoTitleBar">
				   
		</activity>		
		<activity android:name="com.glm.app.HistoryActivity" android:launchMode="singleTop" android:screenOrientation="sensor" android:clearTaskOnLaunch="true" android:theme="@android:style/Theme.NoTitleBar"></activity>			
		<activity android:name="com.glm.app.stopwatch.WorkOutActivity" android:configChanges="orientation|keyboardHidden" android:launchMode="standard" android:screenOrientation="sensor" android:clearTaskOnLaunch="true" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">		    
				<intent-filter>
				  <action android:name="android.intent.action.ACTION_BATTERY_LOW"/>	  
				</intent-filter>			
		</activity>			
		<activity android:name="com.glm.app.AboutActivity"  android:launchMode="singleTop" android:screenOrientation="sensor" android:clearTaskOnLaunch="true" android:theme="@android:style/Theme.NoTitleBar"></activity>
		<activity android:name="com.glm.app.ExerciseDetails"  android:configChanges="orientation|keyboardHidden" android:launchMode="standard" android:screenOrientation="sensor" android:clearTaskOnLaunch="true" android:theme="@android:style/Theme.NoTitleBar"></activity>		
		<activity android:name="com.glm.app.SummaryActivity"  android:launchMode="singleTop" android:screenOrientation="sensor" android:clearTaskOnLaunch="true" android:theme="@android:style/Theme.NoTitleBar"></activity>
		<activity android:name="com.glm.app.ManualWorkout"  android:launchMode="singleTop" android:screenOrientation="sensor" android:clearTaskOnLaunch="true" android:theme="@android:style/Theme.NoTitleBar"></activity>
		<activity android:name="com.glm.app.GMapActivity"  android:launchMode="singleTop" android:screenOrientation="sensor" android:clearTaskOnLaunch="true" android:theme="@android:style/Theme.NoTitleBar"></activity>		
		<activity android:name="com.glm.app.OpenStreetMapActivity"  android:launchMode="singleTop" android:screenOrientation="sensor" android:clearTaskOnLaunch="true" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"></activity>		
		<activity android:name="com.glm.app.graph.WebGraphExerciseActivity"  android:launchMode="singleTop" android:screenOrientation="landscape" android:clearTaskOnLaunch="true" android:theme="@android:style/Theme.NoTitleBar"></activity>		
		<activity android:name="com.glm.app.graph.WebGraphWeightActivity"  android:launchMode="singleTop" android:screenOrientation="landscape" android:clearTaskOnLaunch="true" android:theme="@android:style/Theme.NoTitleBar"></activity>									
		<activity android:name="com.glm.app.ShareFromService"  android:configChanges="orientation|keyboardHidden" android:launchMode="singleTop" android:screenOrientation="portrait" android:clearTaskOnLaunch="true" android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>		
		<activity android:name="com.glm.app.ChangeLogActivity"  android:launchMode="singleTop" android:screenOrientation="sensor" android:clearTaskOnLaunch="true" android:theme="@android:style/Theme.NoTitleBar"></activity>
		<activity android:name="com.glm.app.GoalActivity"  android:launchMode="singleTop" android:screenOrientation="sensor" android:clearTaskOnLaunch="true" android:theme="@android:style/Theme.NoTitleBar"></activity>		
		<activity android:name="com.glm.app.TwitterAuthActivity"  android:configChanges="orientation|keyboardHidden" android:launchMode="singleTop" android:screenOrientation="portrait" android:clearTaskOnLaunch="true" android:theme="@android:style/Theme.NoTitleBar">
		    	<intent-filter>
		 		    <action android:name="android.intent.action.VIEW" />
			      	<category android:name="android.intent.category.DEFAULT" />
			      	<category android:name="android.intent.category.BROWSABLE" />
			      	<data android:scheme="oauth" android:host="androidtrainer"/> 
			    </intent-filter>	
		</activity>		
		<activity android:name="com.glm.app.StoreActivity"  android:launchMode="singleTop" android:screenOrientation="sensor" android:clearTaskOnLaunch="true" android:theme="@android:style/Theme.NoTitleBar">
		   
		      <intent-filter>
		        <action android:name="com.android.vending.billing.IN_APP_NOTIFY" />
		        <action android:name="com.android.vending.billing.RESPONSE_CODE" />
		        <action android:name="com.android.vending.billing.PURCHASE_STATE_CHANGED" />
		      </intent-filter>
		   
		</activity>		
		<meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>
	</application>
</manifest> 